 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #ffffff;
 }
.btn {
  border: 2px solid #651fff;
}

  /* label color */
  .input-field label {
    color: #651fff;
  }